@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
   
    box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    /* display:flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #8e44ad;
    margin:0;
    /* overflow: hidden; */
    color:white;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
    text-align: center;
}

.section{
    min-width: 400px;
}

i{
    font-size: 100px;

}
.counter{
    font-size: 50px;
}

